body{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;

}

/*Header style*/

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(20, 116, 171);
    height: 80px;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(48, 152, 212);
}

.top-container img{
    width: 100px;
    height: 80px;
    margin-bottom: 0px;   
    object-fit: contain;
    mix-blend-mode:color-burn;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-container {
    width: 100%;
    display: flex;
    border-radius: 6px;
    align-items: center;
    overflow: hidden;
    margin-left: 4rem;
    max-width: 50rem;
}

.search-container input {
    border: none;
    outline: none;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px white;
}

.search-container i{
    border: none;
    outline: none;
    margin-left: -20px;
    
}
.top-container button{
    background:none;
    border:none;
    margin-left:-10px;
}
.top-container button:hover{
    font-size: 110%;
    transition: 0.9s;
}
.top-container button:active{
    font-size: 130%;
    transition: 0.5s;
}
.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: 4rem;
}

.icons-container p{
    font-weight: 900;
    color: white;
    font-size: larger;
    padding:5px;

} 

.icons-container img {
    margin-left: 30px;
    width: 4rem;
    display: none;
}


/* Main style */

.columns {
    margin: 4rem;
    margin-top: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}
  
.column1 {
    flex: 1;
    border: 2px gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 6px rgb(240, 238, 238);
    background-color: ghostwhite;
    height: 25rem;
    overflow: hidden;
}
.column2 {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    border-radius: 6px;
    box-shadow: 3px 1px 5px 6px rgb(240, 238, 238);
}
  
  /* Desni stupac */
  .user-profile{
      display: flex;
      flex-direction:column;
      justify-content: space-between;
  }
  
  .user-profile-pic {
    width: 50%;
    flex: 1;
    display: flex;
    height: 100%;
}
.user-profile-pic img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 2px 2px rgb(234, 230, 230);
}

.user-profile-stats {
    margin-left: 15px;
    flex: 1;
    padding-left: 10px;
}



  /* Livi stupac */
  
  /*New post*/
.new-post-inputs {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
}
  .new-post {
    height: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

#new-post-text {
    resize: none;
    box-shadow: 1px 1px 10px 5px rgb(234, 230, 230);
    width: 100%;
    flex: 1;
    border: 5px  gray;
    padding: 1rem;
    box-sizing: border-box;
}

#new-post-image {
    resize: none;
    box-shadow: 1px 1px 10px 5px rgb(234, 230, 230);
    width: 100%;
    border: 5px  gray;
    padding: 2rem;
    box-sizing: border-box;
}
  #new-post-text::placeholder{
      font-size:22px;
  }


  #new-post-button {
    width: 15rem;
    height: 10vh;
    background-color: rgb(103, 172, 212);
    border: 1.5px solid rgb(234, 230, 230);
    border-radius: 0 6px 6px 0;
    font-size: 20px;
    letter-spacing: 2.4px;
    flex: 1;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9;
    max-width: 20rem;
    height: 100%;
    flex: 1;
}

.posts {
    display: flex;
    flex-direction: column;
}
  #new-post-button:hover{
    background-color: rgb(20, 116, 171);
    color: black;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9;
    box-shadow: 3px 3px 25px 5px silver;

  }

  #new-post-button:active{
      transform:translate(2px,1%);
      transition: all 0.2s;
  }

  

  /*User-post*/


  .users-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    background-color: ghostwhite;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 1px 1px 10px 5px rgb(234, 230, 230);
}

.posted-image {
    display: flex;
    width: 100%;
    max-height: 50rem;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.user-img {
    width: 60px;
    margin: 1rem 2rem;
}

.user-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

  .posted-image img {
    object-fit: cover;
    width: 100%;
}
  
  .user-comment{
      height:fit-content;
      background-color:rgba(212, 222, 228, 0.929);
      margin-bottom: 1rem;
      margin-top: 0.5rem;
      width: 100%;
      border-radius: 6px;
  }

  .post-description{
    border-radius: 0 0 6px 6px;
}
  .user-comment p{
      margin-left:9px;
      font-weight: 500;
  }

  .posts-stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

  .posts-user-name{
  }

  .posts-time-added p{
    margin: 0;
  }
.post-actions-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.posts-reactions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 2rem;
    margin-left: auto;
    margin-right: 2rem;
}

  .posts-reactions p{
  }


  .comment-num-and-add {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 1.5rem 0;
}

  .comment-num-and-add textarea{
        resize: none;
        box-shadow: 1px 1px 10px 5px rgb(234, 230, 230);
        width: 100%;
        flex: 1;
        border: 5px  gray;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 6px 0 0 6px ;

  }

  .comment-num-and-add button{
        background-color: rgb(20, 116, 171);
        color: black;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        transition: all 0.9;
        box-shadow: 3px 3px 25px 5px silver;
        border: none;
        border-radius: 0 6px 6px 0;
        height: 100%;
        flex: 0.2;
    }
  .like-reaction, .bookmark-reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .like-reaction i{
  }

  .like-reaction p{
  }


  .like-reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .bookmark-reaction i{

}

.bookmark-reaction p{
}



  /*Footer*/

  footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
 }

 footer a{
     text-decoration: none;
     font-weight: 600;
     color:teal;
    font-family:monospace;
 }
 footer a p:hover{
    color:red;
    font-size:900;
    transition: 2.5s;
 }
 

 @media only screen and (min-width: 800px) {
    .column1 {
      flex: 0.3;
    }
    .column2 {
        flex: 0.7;
    }
    .icons-container img{
        display: flex;
    }
  }